.ic-butter{
  background-image: url('../icons/butter.png');
}

.ic-bread{
  background-image: url('../icons/bread.png');
}

.ic-cucumber{
  background-image: url('../icons/cucumber.png');
}

.ic-salad{
  background-image: url('../icons/salad.png');
}

.ic-tomato{
  background-image: url('../icons/tomato.png');
}
.ic-caviar{
  background-image: url('../icons/caviar.png');
}
.ic-crab{
  background-image: url('../icons/crab.png');
}
.ic-nori{
  background-image: url('../icons/nori.png');
}
.ic-onion{
  background-image: url('../icons/onion.png');
}
.ic-pepper{
  background-image: url('../icons/pepper.png');
}
.ic-persto{ 
  background-image: url('../icons/persto.png');
}
.ic-ravioli{
  background-image: url('../icons/ravioli.png');
}
.ic-salt{
  background-image: url('../icons/salt.png');
}
.ic-salmon{
  background-image: url('../icons/salmon.png');
}
.ic-rice{
  background-image: url('../icons/rice.png');
}