//Sizes
$b-nav-height: 70px;


//Colors
$green: #77991D;
$green-light: rgba(100, 195, 125, 0.25);
$green-border: #669731;
$red: #8D2007;
$red-border: #CE2E05;
$red-light: rgba(141, 32, 7, 0.32);
$grey: rgba(0, 0, 0, 0.5);
$grey-line: rgba(148, 148, 148, 0.6);
$grey-text: #E5E5E5;


//deltas
$m-hor-delta: 1.33;
$m-vert-delta: 1.2;

$sm-hor-delta: 1.5;
$sm-vert-delta: 1.35;

$tb-hor-delta: 1.93;
$tab-vert-delta: 1.4;



//meidia-queries mixins
@mixin l-desctop{
  @media (min-width: 1443px){
    @content;
  }
}

@mixin m-desctop{
  @media (min-width: 1280px) and (max-width: 1442px){
    @content;
  }
}

@mixin s-desctop{
  @media (min-width: 1030px) and (max-width: 1279px){
    @content;
  }
}


@mixin tablet{
  @media (min-width: 768px) and (max-width: 1029px){
    @content;
  }
}


@mixin mobile{
  @media (min-width: 311px) and (max-width: 768px){
    @content;
  }
}

@mixin smobile{
  @media (max-width: 322px){
    @content;
  }
}

//fonts
@font-face{
  font-family: 'stolzl-reg';
  src: url('fonts/Stolzl-Regular.otf');
}
@font-face{
  font-family: 'stolzl-light';
  src: url('fonts/Stolzl-Light.ttf');
}

@font-face{
  font-family: 'stolzl-med';
  src: url('fonts/Stolzl-Medium.otf');
}


body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
}
.disable{
  overflow-y: hidden !important;
}
section{
  position: absolute;
  width: 100%;
  background-color: white;
}

nav{
  height: $b-nav-height;
  width: 100%;
  background-color: white;
  position: relative;
  @include m-desctop{
    height: $b-nav-height/$m-vert-delta;
  }
  @include mobile{
    height: 40px;
  }
  .logo-link{
    margin-left: 20px;
    top: 0px;
    position: absolute;
    height: 60px;
    width: 60px;
    @include mobile{
      margin-left: 5px;
    }
  }
  .logo{
    left: 5px;
    top: 20px;
    $logo: 60px;
    height: $logo;
    width: $logo;
    position: relative;
    background-image: url('../images/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    @include m-desctop{
      $logo: calc(#{$logo}/#{$m-vert-delta});
      height: $logo;
      width: $logo;
      top: 12px;
    }
    @include mobile{
      height: 40px;
      width: 40px;
      top: 7px;
      margin-left: 0px;
    }    
  }
  .links{
    top: 20px;
    height: 45px;
    width: auto;
    position: absolute;
    right: 0px;
    display: flex;
    @include m-desctop{
      top: 15px;
      height: 35px;
    }
    @include mobile{
      display: none;
    }
    .link{
      text-decoration: none !important;
      height: 100%;
      transition: 0.5s;
      margin-right: 50px;
      text-transform: uppercase;
      transform: translate3d(0, 0, 0);
      cursor: pointer;
      width: 180px;
      @include m-desctop{
        width: 130px;
        margin-right: 15px;
        font-size: 18px;
      }    
      .visible, .hidden{
        font-family: 'stolzl-reg';
        font-size: 24px;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        @include m-desctop{
          padding-top: 7px;
          font-size: 18px;
        }          
      }
      .visible{
        color: black;
        position: relative;      
      }
      .hidden{
        color: white;
        background-color: black;
        transition: all 0.2s ease-in-out;
        transform: translate3d(0, 5px, 0);
        @include m-desctop{
          transform: translate3d(0, 15px, 0);
        }
      }      
      &:hover{
        .hidden{
          transform: translate3d(0, -45px, 0);
          @include m-desctop{
            transform: translate3d(0, -35px, 0);
          }        
        }
      }
    }
  }
  .burger{
    display: none;
    @include mobile{
      position: absolute;
      display: block;
      height: 15px;
      width: 25px;
      right: 12px;
      top: 12px;
      background-image: url('../images/humburger.png');
      background-size: cover;
    }
  }
  .active{
    display: block !important;
    height: auto !important;
  }
  .mobile-menu{
    position: absolute;
    z-index: 900;
    display: none;
    margin-top: 40px;
    @include mobile{
      display: none;
      transition: 0.5s;
      // height: auto;
      width: 100%;
      height: 0px;
      background-color: white;
    }
    .link{
      margin-top: 10px;
      height: 40px;
      width: 100%;
      text-align: center;
    }
    .mob{
      text-decoration: none;
      font-family: 'stolzl-reg';
      font-size: 16px;
      padding-top: 7px;
      color: black;      
    }
  }
}

$large-container: 700px;
$m-large-container: calc(#{$large-container} / #{$m-vert-delta} - 105px);
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: $large-container;
  width: 100%;
  @include m-desctop{
    height: $m-large-container;
  }
  @include mobile{
    flex-direction: column;
    height: 85%;
  }
  .icon{
    $icon: 130px;
    $m-icon: $icon / $m-vert-delta;
    top: calc((#{$large-container})/2 - #{$icon}/2);
    left: calc((100% - #{$icon})/2);
    z-index: 100;
    position: absolute;
    height: $icon;
    width: $icon;
    background-size: cover;
    @include m-desctop{
      height: $m-icon;
      width: $m-icon;
      top: calc((#{$m-large-container})/2 - #{$m-icon}/2);
      left: calc((100% - #{$m-icon})/2);      
    }
    @include mobile{
      height: 60px;
      width: 60px;
      left: calc(50% - 30px);   
      top: calc(250px - 30px);
    }
    @include smobile{
      top: calc(200px - 30px);
    }
  }
  .img-block{
    @include mobile{
      height: 250px !important;
    }
    @include smobile{
      height: 200px !important;
    }
  } 
  .content-block{
    height: 100%;
    width: 100%;
    position: relative;
    @include mobile{
      height: 100%;
    }
    .hor-line{
      position: absolute;
      height: 2px;
      width: 100%;
      margin-top: calc(#{$large-container}/2);
      @include m-desctop{
        margin-top: calc(#{$m-large-container}/2);
      }
      @include mobile{
        margin-top: 100px;
      }
    }
    .big-text{
      $big-text: 300px;
      $m-big-text: $big-text / $m-vert-delta;
      position: relative;
      height: $big-text;
      margin: 0px auto;
      margin-top: calc((#{$large-container} - #{$big-text})/2);
      font-family: 'stolzl-reg';
      font-size: calc(#{$big-text} / 2);
      line-height: 154px;
      @include m-desctop{
        height: 200px;
        margin-top: calc((#{$m-large-container} - 210px)/2);
        font-size: 100px;
        line-height: 102px;
      }
      @include mobile{
        font-size: 50px;
        margin-top: 52px;
        height: 100px;
        width: 200px !important;
        line-height: 47px;
      }
      @include smobile{
        font-size: 40px;
      }
    }
    .side-text{
      position: absolute;
      height: 36px;
      font-family: 'stolzl-light';
      font-size: 30px;
      display: inline-block;
      @include mobile{
        font-size: 12px;
        height: 14px;
      }
      .polygon{
        position: absolute;
        height: 30px;
        width: 30px;
        background-size: cover;
        top: 12px;
        @include m-desctop{
          height: 20px;
          width: 20px; 
          top: 22px;         
        }   
        @include mobile{
          height: 12px;
          width: 12px;
        }     
      }
      @include m-desctop{
         font-size: 20px;
         height: 24px;
      }
    }
    img{
      height: 100%;
      width: 100%;
    }
  }  
}

.bottom-container{
  width: 100%;
  height: calc(100% - #{$large-container});
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include m-desctop{
    height: calc(100% - #{$m-large-container});
  }
  @include mobile{
    height: 15%;
  }
  .or{
    z-index: 900;
    position: absolute;
    text-align: center;
    color: black;
    font-family: 'stolzl-reg';
    font-size: 60px;
    height: 60px;
    width: 100%;
    margin-top: calc((190px - 60px)/2);  
    @include m-desctop{
      font-size: 40px;
      margin-top: calc((130px - 40px)/2);  
    }  
    @include mobile{
      font-size: 20px;
      margin-top: 25px;
    }
    @include smobile{
      margin-top: 17px;
    }
  }
  .half{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    &:nth-child(1){
      border-right: 1px solid $green-light;
    }
    @include mobile{
      &:nth-child(2){
        display: none;
      }      
    }
    .center-text{
      $large-c: 30px;
      position: relative;
      height: $large-c;
      text-align: center;
      font-size: $large-c;
      font-family: 'stolzl-light';
      color: $grey;
      top: calc((100% - #{$large-c})/2);
      @include m-desctop{
        $m-large-c: 20px;
        font-size: $m-large-c;
        top: calc((100% - #{$m-large-c})/2);
      }
      @include mobile{
        top: 10px;
        font-size: 10px;
      }
    }
  }  
}

#healthy-section{
  height: calc(100% - #{$b-nav-height}) !important;
  @include mobile{
    height: 100% !important;
  }
  .icon{
    background-image: url('../images/broccoli.png');
  }  
  .big-text{
    color: $green;
    width: 630px;
    text-align: right;  
    @include m-desctop{
      $m-width: 630px / $m-hor-delta;
      width: $m-width;
    }     
  }
  .side-text{
    bottom: 32px;
    color: $green;  
    width: 313px;  
    left: calc((100% - 313px)/ 2); 
    @include m-desctop{
      width: 150px;
      bottom: 22px;
      left: calc((100% - 150px)/ 2); 
    }
    @include mobile{
      width: 100px;
      left: calc((100% - 100px)/ 2); 
    }  
  }
  .polygon{
    left: 193px;
    background-image: url('../images/ellipse.png');  
    position: relative;
    top: -63px;
    @include m-desctop{
      top: -41px;
      left: 130px;
    }
    @include mobile{
      left: 80px;
      top: -25px;
    }
  }
  .hor-line{
    background-color: $green-light;
  }
}
#fastfood-section{
  height: 100%;
  top: 100%;
  @include mobile{
    height: 100%;
    top: 100%;    
  }  
  .bottom-container{
    display: none;
    @include mobile{
      display: block;
    }
  }
  .icon{
    background-image: url('../images/hamburger.png');
    @include mobile{
      top: calc(100% - 280px);
    }
    @include smobile{
      top: calc(100% - 230px);
    }    
  }  
  .big-text{
    color: $red;
    width: 630px;
    text-align: center;
    @include m-desctop{
      width: 400px;
      margin-top: 136px;
    } 

  }
  .side-text{
    top: -32px;
    color: $red;  
    width: 256px;  
    left: calc((100% - 256px)/ 2);
    padding-left: 36px;
    @include m-desctop{
      top: -22px;
      width: 180px;
      left: calc((100% - 180px)/ 2);
    }          
    @include mobile{
      width: 110px;
      left: calc((100% - 110px)/ 2);
      padding-left: 22px;
    }
  }  
  .polygon{
    left: 0px;
    background-image: url('../images/triangle.png');  
  }  
  .hor-line{
    background-color: $red-light;
  }  
}
.slick-list,.slick-track {
  height: 100%;
}
#recipies{
  height: 100%;
  top: calc(180%);
  @include m-desctop{
    top: 180%;
  }
  @include mobile{
    top: 210%;
  }
  .arrows{
    opacity: 0.75;
    right: 0;
    top: 600px;
    z-index: 900;
    height: 120px;
    width: 240px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-wrap: no-wrap;
    @include m-desctop{
      height: 60px;
      width: 120px;
      top: 450px;
    }
    @include mobile{
      display: none;
    }
    .arrow{
      cursor: pointer;
      border-right: 3px solid black;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      box-sizing: border-box;
      height: 120px;
      width: 120px;
      @include m-desctop{
        height: 60px;
        width: 60px;
      }
      .clip{
        box-sizing: content-box;
        background-size: cover;
        width: 100px;
        height: 60px;
        margin-left: 7px;
        margin-top: 30px;
        @include m-desctop{
          width: 40px;
          height: 25px;
          margin-top: 15px;
        }
      }
    }
    .arrow-left{
      border-left: 3px solid black;
      .clip{
        background-image: url('../images/arrow-left.png');  
      }
    }
    .arrow-right{
      .clip{
        background-image: url('../images/arrow-right.png');  
      }
    }
  }
  .recipe-but{
    z-index: 900;
    clip-path: none;
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    height: 140px;
    top: 723px;
    left: calc((100% - 400px)/2;
    text-align: center;
    transition: 0.8s;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    @include m-desctop{
      height: 60px;
      width: 250px;
      font-size: 40px;
      padding-top: 5px;
      top: 565px;
      left: calc((100% - 250px)/2;
      &:hover{
        .hidden{
          transform: translate3d(0, -56px, 0) !important;
        }
      }
    }
    @include mobile{
      height: 50px;
      width: 200px;
      left: calc((100% - 200px)/2);
      top: 85%;
      &:hover{
        .hidden{
          transform: translate3d(0, -48px, 0) !important;
        }
      }      
    }
    &:hover{
      .hidden{
        transform: translate3d(0, -140px, 0);
      }
    }
    .visible, .hidden{
      box-sizing: border-box;
      text-align: center;
      font-family: 'stolzl-light';
      font-size: 60px;
      padding-top: 35px; 
      width: 100% ;
      height: 100%; 
      @include m-desctop{
        padding-top: 5px;
        font-size: 35px; 
      }
      @include mobile{
        font-size: 25px;
        padding-top: 7px;
      }    
    }

    .visible{
    }
    .hidden{
      transition: all 0.2s ease-in-out;
      transform: translate3d(0, 0px, 0);
    }
  }  
  .sl-01{
    .recipe-but{    
      .visible, .hidden{      
        border-color: $green-border;
        border: 3px solid $green-border;
        @include m-desctop{
          border: 2px solid $green-border;
        }
        @include mobile{
          border: 2px solid $green-border;
        }        
      }
      .visible{
        color: $green-border;
        background-color: white;
      }
      .hidden{
        transition: all 0.2s ease-in-out;
        color: white;
        background-color: $green-border;
        transform: translate3d(0, 0px, 0);
      } 
      &:hover{
        .hidden{
          transform: translate3d(0, -140px, 0);
        }
      }           
    }    
    .proces{
      background-image: url('../images/recipe-01.png');
    }
  }

  .sl-02{
    .ingredient{
      background-color: black !important;
      .title{
        color: white !important;
      }
      .component{
        .shadow{
          background-color: rgba(255,255,255,0.7) !important;
        }
      }
    }
    .recipe-but{
      .visible, .hidden{      
        border-color: black;
        border: 3px solid black;
        @include m-desctop{
          border: 2px solid black;
        }    
        @include mobile{
          border: 2px solid black;
        }                
      }
      .visible{
        color: black;
        background-color: white;
      }
      .hidden{
        transition: all 0.2s ease-in-out;
        color: white;
        background-color: black;
        transform: translate3d(0, 0px, 0);
      } 
      &:hover{
        .hidden{
          transform: translate3d(0, -140px, 0);
        }
      }      
    }
    .proces{
      background-image: url('../images/recipe-02.png');
    }    
  }

  .sl-03{
    .recipe-but{
      .visible, .hidden{      
        border-color: $red-border;
        border: 3px solid $red-border;
        @include m-desctop{
          border: 2px solid $red-border;
        }   
        @include mobile{
          border: 2px solid $red-border;
        }   
      }
      .visible{
        color: $red-border;
        background-color: white;
      }
      .hidden{
        transition: all 0.2s ease-in-out;
        color: white;
        background-color: $red-border;
        transform: translate3d(0, 0px, 0);
      } 
      &:hover{
        .hidden{
          transform: translate3d(0, -140px, 0);
        }
      }      
    }
    .proces{
      background-image: url('../images/recipe-03.png');
    }    
  }
  .slider{
    $content-h: 100%;
    $m-content-h: 100%;
    height: $content-h;
    width: 100%;
    position: relative;   
    .slider-el{
      position: relative;
      height: 100%;
      width: 100%;
      background-color: white;
    }
  }
  .bac-01{
    background-image: url('../images/back-recipe-01.png');
    .text{
      width: 890px;
      height: 125px;
      color: white;
      padding-left: 70px;
      padding-top: calc((600px - 125px)/2); 
      @include m-desctop{
        width: 550px;
        height: 75px;
        padding-top: calc((450px - 70px)/2); 
      }     
      @include mobile{
        width: 80%;
        padding-left: 10%;
        padding-top: 100%;
        color: black;
      }
    }
  } 
  .bac-02{
    background-image: url('../images/back-recipe-02.png');
    @include mobile{
      background-position: 45% !important;
    }
    .text{
      width: 890px;
      height: 125px;
      color: black;
      padding-left: 740px;
      padding-top: 140px;   
      @include mobile{
        width: 80%;
        padding-left: 8%;
        padding-top: 100%;
      }         
    }    
  }  
  .bac-03{
    background-image: url('../images/back-recipe-03.png');
    .text{
      width: 465px;
      height: 275px;
      color: black;
      padding-left: 72px;
      padding-top: 200px;  
      @include mobile{
        width: 80%;
        padding-left: 8%;
        padding-top: 100%;
      }          
    }        
  }      
  .background{
    $content-h: 600px;
    $m-content-h: 450px;
    z-index: 100;
    height: $content-h;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include m-desctop{
      height: $m-content-h;
    }    
    @include mobile{
      height: 60%;
    }
    .text{
      z-index: 200;
      position:  absolute;
      font-family: 'stolzl-light';
      font-size: 60px;
      @include m-desctop{
        font-size: 40px;
      }   
      @include mobile{
        font-size: 20px;  
      }
    }
  }
  .recipe-active{
    .hidden{
      transform: translate3d(0, -140px, 0) !important;
      @include m-desctop{
        transform: translate3d(0, -56px, 0) !important;        
      }
      @include mobile{
        transform: translate3d(0, -48px, 0) !important;
      }
    }
  }  
  .component-container{
    height: 780px;
    width: 1190px; 
    position: absolute;       
    top: 120px;
    left: 340px;
    @include m-desctop{
      width: 850px;
      left: 260px;
      height: 530px;
    }    
    @include mobile{
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
    }
  }
  .component{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    $comp-h: 680px;
    z-index: 800;
    box-sizing: border-box;
    z-index: 180;
    position: absolute;
    height: 680px;
    width: 1190px;
    border-bottom: 3px solid $green-border;
    border-left: 3px solid $green-border;
    @include m-desctop{
      width: 850px;
      height: 480px;
      border-bottom: 2px solid $green-border;
      border-left: 2px solid $green-border;      
    }
    @include mobile{
      width: 100%;
      height: 94%; 
      border-bottom: 2px solid $green-border;
      border-left: 2px solid $green-border;      
    }
    .empty-recipe{
      position: absolute;
      height: 100%;
      width: 100%;      
    }
    .active{
      transform: translate3d(0, 2px, 0) !important; 
    }
    .recipe{
      z-index: 500;
      transition: all 0.8s ease-in-out;
      transform: translate3d(0, 680px, 0);      
      box-sizing: content-box;
      position: absolute;
      background-color: white;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      @include mobile{
        flex-direction: column;
      }
      .ingredient{
        background-color: white;
        $ing-h: 490px;
        box-sizing: content-box;
        position: relative;
        max-width: $ing-h;
        min-width: $ing-h;
        width: $ing-h;
        @include m-desctop{
          $m-ing-h: 350px;
          max-width: $m-ing-h;
          min-width: $m-ing-h;
          width: $m-ing-h;          
        }
        @include mobile{
          height: 50%;
          max-width: 100%;
          min-width: 100%;          
          width: 100%;
        }
        .ravioli{
          height: 100%;
          width: 200px;
          right: -40px;
          position: absolute;
          background-size: cover;
          background-image: url('../images/ravioli.png');
        }
        .ieroglif{
          height: 100%;
          width: 200px;
          right: 0;
          position: absolute;
          background-size: cover;
          background-image: url('../images/ieroglif.png');
          @include m-desctop{
            width: 100px;
          }
          @include mobile{
            width: 50px;
          }
        }
        .ingr-text{
          $translate-x: $ing-h - $comp-h/2 - 55px;
          $translate-y: ($comp-h - 165px)/2;
          width:  680px;
          height: 165px;
          position: absolute;
          text-overflow: clip;
          color: $grey-text;
          Font-Size: 135px;
          font-family: 'stolzl-med';
          letter-spacing: 10px;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          transform: rotate(-90deg) translate3d(-($translate-y), $translate-x, 0) ;
          @include m-desctop{
            width: 475px;
            transform: rotate(-90deg) translate3d(-155px, 75px, 0) ;
          }
          @include mobile{
            width: 100%;
            letter-spacing: 5px;
            transform: translate3d(0px, 80%, 0) ;
          }
          .text{
            height: 120px;
            font-size: 115px;
            width:  470px;
            transform: translateX(-50px);
            @include mobile{
              font-size: 80px;
            } 
          }
        }
        .list{
          z-index: 500;
          position: absolute;
          width: 390px;
          left: calc((#{$ing-h} - 380px)/2);
          margin-top: 50px;
          @include m-desctop{
            width: 300px;
          }    
          @include mobile{
            left: calc((100% - 170px)/2);
            margin-top: 10px;
            width: 170px;
          }      
          .list-el{
            position: relative;
            height: 70px;
            width: 100%;
            margin-top: 40px;
            @include m-desctop{
              height: 50px;
              margin-top: 20px;
            }             
            @include mobile{
              height: 30px;
              margin-top: 10px;
            }   
            @include mobile{
              margin-top: 5px;
            }
            .icon{
              height: 60px;
              width: 60px;
              display: inline-block;
              background-size: cover;
              transform: translateY(-10px);
              @include m-desctop{
                width: 35px;
                height: 35px;
                transform: translateY(0px);
              }      
              @include mobile{
                height: 20px;
                width: 20px;
              }            
            }
            .text{
              display: inline-block;
              height: 60px;
              width: 300px;
              margin-left: 22px;
              font-family: 'stolzl-med';
              @include m-desctop{
                width: 230px;
                height: 45px;
                margin-left: 12px;
              }
              @include mobile{
                height: 30px;
                width: 120px;
              }
              .title{
                Font-Size: 40px;
                @include m-desctop{
                  font-size: 24px;
                }
                @include mobile{
                  font-size: 15px;
                }
              }
              .gram{
                color: #cecece;
                font-size: 20px;
                line-height: 27px;
                @include m-desctop{
                  font-size: 16px;
                  line-height: 20px;
                }
                @include mobile{
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
            
          }
        }
      } 
      .proces{
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        @include mobile{
          height: 50%;         
          width: 100%;
        }        
        .shadow{
          background-color: rgba(0,0,0,0.7);
          width: 100%;
          height: 100%;
          position: absolute;
          .list{
            margin: 0px auto;
            width: 630px;
            height: auto;
            margin-top: 75px;
            @include m-desctop{
              margin-top:  105px;
              width: 380px;
            }
            @include mobile{
              width: 90%;
              margin-top: 20px;
            }
            .list-el{
              color: white;
              font-size: 30px;
              font-family: 'stolzl-light';
              padding-top: 45px;
              line-height: 40px;
              @include m-desctop{
                font-size: 19px;
                line-height: 24px;
                padding-top: 17px;
              }
              @include mobile{
                font-size: 12px;
                line-height: 14px;
                padding-top: 10px;
              }
              span{
                font-family: 'stolzl-med';
              }
            }
          }
        }
      }
    }
    .vert-column{
      position: absolute;
      box-sizing: border-box;
      height: 100%;
      width: 690px;
      border-top: 3px solid $green-border;
      @include m-desctop{
        width: 500px;
        border-top: 2px solid $green-border;
      }
      @include mobile{
        width: 70%;
      }
    }
    .hor-column{
      position: absolute;
      box-sizing: border-box;
      height: 410px;
      bottom: 0px;
      width: 100%;
      border-right: 3px solid $green-border;
      @include m-desctop{
        height: 210px;
        border-right: 2px solid $green-border;
      }
      @include mobile{
        height: 50%;
      }
    }
  }
  .green-comp{
    border-color: $green-border;
    .vert-column{
      border-color: $green-border;
    }
    .hor-column{border-color: $green-border;}
  }
  .black-comp{
    .line-v{
      position: absolute;
      width: 450px;
      height: 3px;
      background-color: black;
      top: 265px;
      right: 0;  
      @include m-desctop{
        width: 400px;
        height: 2px;
      } 
      @include mobile{
        width: 30%;
        top: 50%;
      }
    }
    .line-h{
      position: absolute;
      height: 250px;
      width: 3px;
      background-color: black;
      left: 450px;
      @include m-desctop{
        left: 250px;
        width: 2px;
        height: 200px;
      }   
      @include mobile{
        left: 70%;
        height: 30%;
      }
    }
    .shadow{
      background-color: rgba(255,255,255,0.7) !important;
    }    
    .list-el{
      color: black !important;
    }
    border-color: black;
    .vert-column{
      border-color: black;
      width: 450px;
      @include m-desctop{
        width: 250px;
      }
    }
    .hor-column{border-color: black;}
  }
  .red-comp{
    border-color: $red-border;
    .vert-column{
      border-color: $red-border;
      @include m-desctop{
        width: 450px !important;
      }
    }
    .hor-column{border-color: $red-border;}    
  }
}
#best{
  height: 100%;
  top: 280%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  @include m-desctop{
    top: 280%;
  } 
  @include mobile{
    height: 200%;
    top: 310%;
    flex-direction: column;
  }
  .title-cont{
    top: -2px;
    box-sizing: border-box;
    height: 124px;
    width: 710px;
    background-color: white;
    position: absolute;
    left: 390px;
    font-family: 'stolzl-light';
    color: black;
    text-align: center;
    padding-top: 32px;
    font-size: 60px;
    @include m-desctop{
      font-size: 40px;
      height: 64px;
      padding-top: 7px;
      width: 400px;
      left: 300px;
    }    
    @include mobile{
      width: 240px;
      left: calc((100% - 240px)/2);
      height: 40px;
      padding-top: 8px;
      font-size: 20px;
      top: calc(50% - 20px);
    }  
  }
  .modal{
    box-sizing: border-box; 
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    @include mobile{
      flex-direction: column;
      height: 50%;
    }      
    .close{
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      height: 75px;
      width: 300px;
      border: 2px solid white;
      bottom: 125px;
      left: calc((100% - 300px)/2);
      z-index: 600;
      color: white;
      font-family: 'stolzl-light';
      text-align: center;
      font-size: 50px;
      padding-top: 7px;
      transition: 0.5s;
      @include m-desctop{
        bottom: 105px;
        font-size: 30px;
        height: 60px;
        width: 230px;
        padding-top: 10px;
        left: calc((100% - 230px)/2);
      }
      @include mobile{
        height: 30px;
        width: 150px;
        font-size: 15px;
        padding-top: 4px;
        left: calc((100% - 150px)/2);
        bottom: 25px;
      }
      &:hover{
        background-color: white;
        color: black;
      }
    }
    .close-black{
      border: 2px solid black;
      color: black;
      &:hover{
        background-color: black;
        color: white;
      }      
    }
    .image{
      position: relative;
      height: 100%;
      min-width: 1020px;
      max-width: 1020px;
      width: 1020px;
      @include m-desctop{
        min-width: 720px;
        max-width: 720px;
        width: 820px;
      }       
      @include mobile{
        min-width: 100%;
        max-width: 100%;
        width: 100%;   
        height: 40%;     
      }  
      img{
        height: 100%;
        width: 100%;
      }
    }
    .desc-block{
      position: relative;
      background-color: white;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      @include m-desctop{
        background-size: cover;
      }
      @include mobile{
        height: 70%;
        width: 100%;
        background-size: cover;
      }
      .text{
        margin: 0px auto;
        margin-top: 236px;
        width: 710px;
        height: 490px;
        font-size: 30px;
        font-family: 'stolzl-reg';
        line-height: 70px;
        @include m-desctop{
          margin-top: 186px;
          font-size: 18px;
          line-height: 40px;
          width: 450px;
        }
        @include mobile{
          width: 80%;
          font-size: 13px;
          line-height: 22px; 
          margin-top: 80px;       
        }
        @include smobile{
          font-size: 12px;
          line-height: 20px;
          margin-top: 60px;
        }
      }
    }
  }
  .modal-left{
    transform: translateX(-100%);
    .desc-block{
      background-image: url('../images/desc-burger.png');
      .text{
        color: white;
      }
    }
  }
  .modal-right{
    transform: translateX(100%);
    @include mobile{
      transform: translateX(-100%);
      top: 50%;
    }
   .desc-block{
      background-image: url('../images/desc-noodles.png');
      .text{
        color: black;
      }
    }    
  }
  .slide{
    transform: translateX(0%); 
  }
  #burger{
    background-image: url('../images/back-burger.png');
  }
  #noodles{
    background-image: url('../images/back-noodles.png');
  }
  .half{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
    &:hover{
      .text-cont{
        transform: scale(1.2, 1.2);
      }
    }
    .text-cont{
      transition: 0.5s;
      height: 205px;
      width: 710px;
      margin: 0px auto;
      margin-top: 184px;
      color: white;
      transform: scale(1.0, 1.0);
      @include m-desctop{
        margin-top: 70px;
        width: 500px;
      }
      @include mobile{
        width: 80%;
        margin-top: 35px;
      }
      .title{
        padding-top: 24px;
        font-family: 'stolzl-reg';
        text-align: center;
        font-size: 60px;
        @include m-desctop{
          font-size: 40px;
        }
        @include mobile{
          font-size: 45px;
        }
      }
      .desc{
        $padding: 170px;
        text-align: center;
        font-family: 'stolzl-light';
        font-size: 20px;
        padding-left: $padding;
        padding-right: $padding;
        @include m-desctop{
          padding-left: 120px;
          padding-right: 120px;
          font-size: 16px;
        }
        @include mobile{
          padding-top: 10px;
          font-size: 14px;
          padding-left: 0px;
          padding-right: 0px;
        }
      }
      .r-desc{
        $padding: 130px;
        padding-left: $padding !important;
        padding-right: $padding !important;        
        @include m-desctop{
          padding-left: 0px !important;
          padding-right: 0px !important;
          font-size: 16px;
        }   
        @include mobile{
          padding-top: 10px;
          font-size: 14px;
          padding-left: 0px !important;
          padding-right: 0px !important;
        }           
      }

    }
  }
}

#recomends{
  top: calc(280% + 1000px);
  height: 975px;
  @include m-desctop{
    top: calc(280% + 700px);
    height: 100%;
  }
  @include mobile{
    top: 510%;
    height: 60%;
  }
  .text-container{
    $text-cont: 615px;
    position: absolute;
    height: $text-cont;
    width: 1100px;
    border-right: 4px solid $grey-line;
    border-left: 4px solid $grey-line;
    bottom: 200px;
    left: calc((100% - 1100px)/2);
    box-sizing: border-box;
    @include m-desctop{
      height: 415px;
      width: 800px;
      left: calc((100% - 800px)/2);
      bottom: 150px;
    }
    @include mobile{
      width: 90%;
      height: 70%;
      bottom: 0px;
      left: 5%;
      border-right: 2px solid $grey-line;
      border-left: 2px solid $grey-line;      
    }
    .text{
      position: relative;
      width: 1060px;
      height: 350px;
      margin:0px auto;
      text-align: center;
      font-family: 'stolzl-reg';
      color: $grey;
      font-size: 40px;
      line-height: 62px;
      margin-top: 140px;
      @include m-desctop{
        margin-top: 50px;
        width: 700px;
        font-size: 22px;
      }    
      @include mobile{
        width: 90%;
        font-size: 12px;
        line-height: 14px;
        margin-top: 65px;
      }  
    }
    .border-column{
      position: absolute;
      height: $text-cont;
      width: 40px;
      box-sizing: border-box;
      border-bottom: 4px solid $grey-line;
      border-top: 4px solid $grey-line;
      @include m-desctop{
        height: 415px;
      }      
      &:nth-child(2){
        right: 0px;
      }
      @include mobile{
        height: 100%;
        border-bottom: 2px solid $grey-line;
        border-top: 2px solid $grey-line;        
      }
    }
  }
}

#contacts{
  top: calc(280% + 1000px + 775px);
  height: 1000px;
  @include m-desctop{
    height: 100%;
    top: calc(380% + 550px);
  }
  @include mobile{
    height: 400px;
    top: 580%;
  }
  .contacts-block{
    z-index: 900;
    position: absolute;
    width: 890px;
    height: 300px;
    top: 590px;
    left: 220px;
    text-align: center;
    @include m-desctop{
      top: 300px;
      left: 150px;
      width: 500px;
    }
    @include mobile{
      width: 200px;
      height: 200px;
      left: 30px;
      top: 230px;
    }
    .text{
      padding-top: 20px;
      color: black;
      font-size: 50px;
      font-family: 'stolzl-light';
      line-height: 59px;
      @include m-desctop{
        font-size: 30px;
        line-height: 34px;
      }      
      @include mobile{
        font-size: 12px;
        line-height: 13px;
      }
    }
    .link{
      line-height: 59px;
      color: black;
      font-family: 'stolzl-reg';
      font-size: 50px;
      @include m-desctop{
        font-size: 30px;
        line-height: 34px;
      } 
      @include mobile{
        font-size: 12px;
        line-height: 13px;
      }       
      a{
        color: black !important;
        text-decoration: none;
      }
    }
    .number{
      line-height: 59px;
      color: rgba(0, 0, 0, 0.5);
      font-family: 'stolzl-light';
      font-size: 40px;
      @include m-desctop{
        font-size: 25px;
        line-height: 34px;
      }
      @include mobile{
        font-size: 12px;
        line-height: 16px;
      }                 
    }
    .icons{
      $icon-size: 75px;
      height: $icon-size;
      width: 180px;
      margin: 0px auto;
      margin-top: 15px;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      @include m-desctop{
        width: 100px;
        height: 40px;
      }        
      @include mobile{
        height: 20px;
        width: 50px;
        margin-top: 5px;
      }
      .icon{
        height: $icon-size;
        width: $icon-size;
        background-size: cover;
        cursor: pointer;
        @include m-desctop{
          height: 40px;
          width: 40px;          
        } 
        @include mobile{
          height: 20px;
          width: 20px;
        }       
      }
      .icon-vk{
        background-image: url('../images/icon-vk.png');
      }
      .icon-instagram{
        background-image: url('../images/icon-instagram.png');
      }
    }
  }
  .cookie{
    height: 100%;
    width: 770px;
    background-size: cover;
    background-image: url('../images/cookie.png');
    position: absolute;
    right: 0px;
    @include m-desctop{
      width: 400px;
    }
    @include mobile{
      height: 300px;
      width: 50%;
      bottom: 0;
    }
  }
}